<!-- // 
// File: footer.ejs
// Student Name: Barath Srinivasan
// Student ID: 301139370
// Date: October 2, 2023
//  -->


<footer>
    <!-- <style>
        body {
            margin: 0; /* Remove default margin */
            padding: 0; /* Remove default padding */
        }
        footer {
            display: flex;
            align-items: center; /* Vertically center items within the header */
            padding: 10px; /* Add padding for spacing */
        }
        .footer-logo {
            margin-right: 20px; /* Add some spacing between the logo and welcome message */
        }
        .footer-logo img {
            width: 100px; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */
        }
    </style> -->
    <div class="footer-content">
        <link rel="stylesheet" href="..\..\css\styles.css">
        <div class="footer-social">
            <ul>
                <li><a href="https://www.linkedin.com/in/barath-srinivasan-b78b8b1ab/">Barath's Linkedin<i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://github.com/BarathSrinivasan2002">Barath's github<i class="fab fa-github"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 Barath Srinivasan. All rights reserved.</p>
    </div>
</footer>
